/* created with resource editor of andre' mens */
/* EMail at sanne@concepts.nl     or http://home.concepts.nl/~sanne  */

#include "UsersCSRes.pas"

STRINGTABLE

{

  strErrorDatabaseDir , "Falta propriedad DatabaseDir en %s"
  strErrorOpenTables , "No fue posible abrir tablas en %s"
  strErrorPassword , "Nombre de usuário o contraseña inválida"
  strErrorUserName , "Nombre de usuário o contraseña inválida"
  strPasswordChanged , "Cambio de contraseña efectuado"
  strErrorChangePassword , "No fue posible cambiar contraseña"
  strErrorPwdsDiffers , "Contraseña para conferencia difiere de la primera"
  strNewUserOk , "Se ha creado Nuevo usuario"
  strUserExists , "Usuario ya esta creado"
  strImpAddNewUser , "Imposible agregar nuevo usuario"
  strConfirmDeleteUser , "Desea realmente eliminar usuario %s?"
  strUserDeleted , "Usuario fue eliminado"
  strConfirmDeleteProfile , "Desea realmente eliminar perfil de usuario %s?"
  strProfileDeleted , "Perfil de Usuario fue eliminado"
  strConfirm , "Confirme"
  strChangePassword , "Cambiar contraseña"
  strCancelChangingPassword , "Desea cancelar el cambio de contraseña ?"
  strNewUserMainForm , "Nuevo Usuario"
  strNewUser_lblUserName , "Nombre del &usuario:"
  strNewUser_lblPassword , "&Contraseña:"
  strNewUser_lblRealName , "Nombre &real:"
  strNewUser_OKBtn , "Ok"
  strNewUser_CancelBtn , "Cancelar"
  strNewUser_lblEXPIRATION_DATE , "Fecha de Expiración"
  strNewUser_lblPROFILE , "Perfil"
  strNewUser_cbxUSER_EXPIRE , "Usuario Expira"
  strNewUser_cbxUSER_ACTIVE , "Activo"
  strUsersAdministrationMainForm , "Administración de Usuarios"
  strUsersAdministration_tsUsers , "Usuarios"
  strUsersAdministration_tsUsersList , "Lista de Usuarios"
  strUsersAdministration_DBGridUsersColUSER_NAME , "Nombre de Usuario"
  strUsersAdministration_DBGridUsersColREAL_NAME , "Nombre Real"
  strUsersAdministration_DBGridUsersColPROFILE , "Perfil"
  strUsersAdministration_DBGridUsersColUSER_ACTIVE , "Activo"
  strUsersAdministration_tsUsersData , "Datos del Usuario"
  strUsersAdministration_lblLAST_PWD_CHANGE , "Último cambio de contraseña"
  strUsersAdministration_lblUserName , "Nombre del Usuario"
  strUsersAdministration_lblRealName , "Nombre Real"
  strUsersAdministration_lblPassword , "Contraseña (Codificada)"
  strUsersAdministration_lblEXPIRATION_DATE , "Fecha de Expiración"
  strUsersAdministration_lblPROFILE , "Perfil"
  strUsersAdministration_cbxUSER_EXPIRE , "Usuario Expira"
  strUsersAdministration_cbxUSER_ACTIVE , "Activo"
  strUsersAdministration_btnChangePassword , "Cambiar Contraseña"
  strUsersAdministration_btnChangePasswordHint , "Cambiar la contraseña del usuario actual"
  strUsersAdministration_PanelPwdHistory , "Histórico de Contraseñas"
  strUsersAdministration_DBGridPwdHistoryColPASSWORD , "Contraseña"
  strUsersAdministration_DBGridPwdHistoryColCHANGE_DATE , "Cambiada en"
  strUsersAdministration_sbNewUser , "Nuevo usuario"
  strUsersAdministration_sbNewUserHint , "Crea un nuevo usuario"
  strUsersAdministration_sbChangeUserData , "Cambiar Datos"
  strUsersAdministration_sbChangeUserDataHint , "Cambiar los datos del usuario seleccionado"
  strUsersAdministration_sbUserAccess , "Accesos"
  strUsersAdministration_sbUserAccessHint , "Exibe los accesos del usuario seleccionado"
  strUsersAdministration_sbDeleteUser , "Eliminar usuario"
  strUsersAdministration_sbDeleteUserHint , "Elimina el usuario seleccionado"
  strUsersAdministration_tsProfiles , "Perfis de Usuarios"
  strUsersAdministration_tsProfilesList , "Lista de Perfiles"
  strUsersAdministration_DBGridProfilesColPROF_DESCRIPTION , "Descripción"
  strUsersAdministration_DBGridProfilesColMUST_CHANGE_PWD , "Debe cambiar contraseña"
  strUsersAdministration_DBGridProfilesColINTERVAL_CHANGE_PWD , "Intervalo para cambio"
  strUsersAdministration_DBGridProfilesColHIDE_DISABLE_MENU , "Item no autorizado"
  strInvisible , "Invisible"
  strDisabled , "Desabilitado"
  strUsersAdministration_tsProfilesData , "Datos del Perfil"
  strUsersAdministration_lblPROF_DESCRIPTION  , "Descripción"
  strUsersAdministration_cbxMUST_CHANGE_PWD , "Debe cambiar contraseña"
  strUsersAdministration_lblINTERVAL_CHANGE_PWD , "Intervalo para cambio"
  strUsersAdministration_rgpHIDE_DISABLE_MENU , "Item no autorizado"
  strUsersAdministration_sbNewProfile , "Nuevo Perfil"
  strUsersAdministration_sbNewProfileHint , "Crea un nuevo perfil"
  strUsersAdministration_sbProfileAccess , "Accesos"
  strUsersAdministration_sbProfileAccessHint , "Exibe los accesos del perfil seleccionado"
  strUsersAdministration_sbChangeProfileData , "Cambiar datos"
  strUsersAdministration_sbChangeProfileDataHint , "Exibe los accesos del perfil seleccionado"
  strUsersAdministration_sbDeleteProfile , "Eliminar Perfil"
  strUsersAdministration_sbDeleteProfileHint , "Elimina el perfil seleccionado"
  strUsersAdministration_tsPrograms , "Control de Accesos"
  strUsersAdministration_tsUsersProgs , "Usuarios"
  strUsersAdministration_DBGridUsersProgsColUSER_NAME , "Usuario"
  strUsersAdministration_DBGridUsersProgsColPROFILE , "Perfil"
  strUsersAdministration_tsProfilesProgs , "Perfiles de Usuario"
  strUsersAdministration_DBGridProfilesProgsColPROF_DESCRIPTION , "Perfil"
  strUsersAdministration_sbApply , "Aplicar"
  strUsersAdministration_sbApplyHintUser , "Aplica los cambios de permisos de acceso para el usuario"
  strUsersAdministration_sbApplyHintProfile , "Aplica los cambios de permisos de acceso para el perfil"
  strUsersAdministration_sbRestore , "Restaurar"
  strUsersAdministration_sbRestoreHintUser , "Restaura los cambios de permisos de acceso para el usuario"
  strUsersAdministration_sbRestoreHintProfile , "Restaura los cambios de permisos de acceso para el perfil"
  strUsersAdministration_sbRestoreProfile , "Restaura del Perfil"
  strUsersAdministration_sbRestoreProfileHint , "Restaura los cambios de permisos de acceso para el usuario desde su prefil"
  strUsersAdministration_sbUpdateUsers , "Actualizar Usuarios"
  strUsersAdministration_sbUpdateUsersHint , "Actualiza los permisos de acceso de todos los usuarios con esse perfil"
  strUsersAdministration_PanelAboveProgs1 , "Accesos para el usuário %s"
  strUsersAdministration_PanelAboveProgs2 , "Accesos para el perfil %s"
  strUserAdministrationMsgChangeUserPwd , "Entre la nueva contraseña del usuario:"
  strLoginMainForm , "Acceso al sistema"
  strLogin_lblUserName , "Entre su &nombre de usuario:"
  strLogin_lblPassword , "Entre su &contraseña:"
  strLogin_OKBtn , "Ok"
  strLogin_CancelBtn , "Cancelar"
  strChangePwdMainForm , "Cambio de Contraseña"
  strChangePwd_lblOldPassword , "Entre su contraseña &antigua:"
  strChangePwd_lblNewPassword , "Entre su &nueva contraseña:"
  strChangePwd_lblPasswordAgain , "Entre su nueva contraseña nue&vamente:"
  strChangePwd_OKBtn , "Ok"
  strChangePwd_CancelBtn , "Cancelar"
  strNoProfile , "Sin Perfil"
  strUserIsInactive , "Usuário %s no está mas autorizado a usar esta aplicación, contacte el administrador."
  strPasswordExpired , "Tu contraseña ha expirado. Por favor, cambie tu contraseña ahora."
  strTryChangePasswordAgain , "Tu contraseña ha expirado. Por favor, cambie tu contraseña ahora."
  strPasswordUsedBefore , "Para continuar a usar este sistema, usted debe cambiar tu contraseña. Desea hacerlo de nuevo?"
  strNewProfileMainForm , "Nuevo Perfil"
  strNewProfile_lblPROF_DESCRIPTION , "Descripción"
  strNewProfile_lblINTERVAL_CHANGE_PWD , "Intervalo para cambio"
  strNewProfile_OKBtn , "Ok"
  strNewProfile_CancelBtn , "Cancelar"
  strNewProfile_cbxMUST_CHANGE_PWD , "Debe cambiar contraseña"
  strNewProfile_rgpHIDE_DISABLE_MENU , "Item no autorizado"
  strNewProfile_rgpHIDE_MENU , "Invisible"
  strNewProfile_rgpDISABLE_MENU , "Desabilitado"
  strYes , "Si"
  strNo , "No"
  strINTERVAL_CHANGE_PWD_DisplayFormat , "en cada 00 dias"
  strcbxAUDIT_MODE , "Modo de Auditoria"
  strUsersAdministration_tsAudit , "Auditoria"
  strUsersAdministration_tsAudUsers , "Usuarios"
  strUsersAdministration_tsAudProgs , "Programas"
  strUsersAdministration_lblUser                    , "Usuario"
  strUsersAdministration_lblProgram                    , "Programa"
  strUsersAdministration_gbxPeriodActivities , "Periodo de Actividades"
  strUsersAdministration_lblFrom                    , "Desde"
  strUsersAdministration_lblTo , "Hasta"
  strUsersAdministration_DBGridAudUsersColMENU_CAPTION , "Programa"
  strUsersAdministration_DBGridAudUsersColCOMPUTER_NAME , "Computador"
  strUsersAdministration_DBGridAudUsersColSTART_SESSION , "Inicio"
  strUsersAdministration_DBGridAudUsersColEND_SESSION , "Fin"
  strUsersAdministration_DBGridAudProgsColUSERCS_NAME , "Usuario"
  strConfirmDeleteAudit , "Eliminar informaciones de auditoria de %s en el período seleccionado?"
  strstrDelete , "Eliminar"

}
