/* created with resource editor of andre' mens */
/* EMail at sanne@concepts.nl     or http://home.concepts.nl/~sanne  */

#include "UsersCSRes.pas"

STRINGTABLE

{

  strErrorDatabaseDir , "Missing property DatabaseDir in %s"
  strErrorOpenTables , "Could not open tables in %s"
  strErrorPassword , "Invalid user name or password"
  strErrorUserName , "Invalid user name or password"
  strPasswordChanged , "Password changed"
  strErrorChangePassword , "It was not possible to change password"
  strErrorPwdsDiffers , "Password for conference differs from the first"
  strNewUserOk , "New user has been created"
  strUserExists , "User already exists"
  strImpAddNewUser , "Imposible to add new user"
  strConfirmDeleteUser , "Do you want really eliminate user %s ?"
  strUserDeleted , "User was eliminated"
  strConfirmDeleteProfile , "Do you want really eliminate user profile %s ?"
  strProfileDeleted , "User profile was eliminated"
  strConfirm , "Confirm"
  strChangePassword , "Change Password"
  strCancelChangingPassword , "Do you want to cancel the change of password ?"
  strNewUserMainForm , "New User"
  strNewUser_lblUserName , "&User name:"
  strNewUser_lblPassword , "&Password:"
  strNewUser_lblRealName , "&Real name:"
  strNewUser_OKBtn , "Ok"
  strNewUser_CancelBtn , "Cancel"
  strNewUser_lblEXPIRATION_DATE , "Expiration Date"
  strNewUser_lblPROFILE , "Profile"
  strNewUser_cbxUSER_EXPIRE , "User Expire"
  strNewUser_cbxUSER_ACTIVE , "Active"
  strUsersAdministrationMainForm , "User Administration"
  strUsersAdministration_tsUsers , "Users"
  strUsersAdministration_tsUsersList , "Users List"
  strUsersAdministration_DBGridUsersColUSER_NAME , "User Name"
  strUsersAdministration_DBGridUsersColREAL_NAME , "Real Name"
  strUsersAdministration_DBGridUsersColPROFILE , "Profile"
  strUsersAdministration_DBGridUsersColUSER_ACTIVE , "Active"
  strUsersAdministration_tsUsersData , "User's Data"
  strUsersAdministration_lblLAST_PWD_CHANGE , "Last Password change"
  strUsersAdministration_lblUserName , "User Name"
  strUsersAdministration_lblRealName , "Real Name"
  strUsersAdministration_lblPassword , "Password (Encrypted)"
  strUsersAdministration_lblEXPIRATION_DATE , "Expiration Date"
  strUsersAdministration_lblPROFILE , "Profile"
  strUsersAdministration_cbxUSER_EXPIRE , "User Expire"
  strUsersAdministration_cbxUSER_ACTIVE , "Active"
  strUsersAdministration_btnChangePassword , "Change Password"
  strUsersAdministration_btnChangePasswordHint , "Change the password of the selected user"
  strUsersAdministration_PanelPwdHistory , "Password History"
  strUsersAdministration_DBGridPwdHistoryColPASSWORD , "Password"
  strUsersAdministration_DBGridPwdHistoryColCHANGE_DATE , "Changed in"
  strUsersAdministration_sbNewUser , "New User"
  strUsersAdministration_sbNewUserHint , "Create a new user"
  strUsersAdministration_sbChangeUserData , "Change Data"
  strUsersAdministration_sbChangeUserDataHint , "Change the selected user's data"
  strUsersAdministration_sbUserAccess , "Permissions"
  strUsersAdministration_sbUserAccessHint , "Show the selected user's permissions"
  strUsersAdministration_sbDeleteUser , "Delete User"
  strUsersAdministration_sbDeleteUserHint , "Delete the selected user"
  strUsersAdministration_tsProfiles , "User Profiles"
  strUsersAdministration_tsProfilesList , "Profiles List"
  strUsersAdministration_DBGridProfilesColPROF_DESCRIPTION , "Description"
  strUsersAdministration_DBGridProfilesColMUST_CHANGE_PWD , "Must Change Password"
  strUsersAdministration_DBGridProfilesColINTERVAL_CHANGE_PWD , "Interval to change"
  strUsersAdministration_DBGridProfilesColHIDE_DISABLE_MENU , "Unauthorized Item"
  strInvisible , "Invisible"
  strDisabled , "Disabled"
  strUsersAdministration_tsProfilesData , "Profile's Data"
  strUsersAdministration_lblPROF_DESCRIPTION  , "Description"
  strUsersAdministration_cbxMUST_CHANGE_PWD , "Must change password"
  strUsersAdministration_lblINTERVAL_CHANGE_PWD , "Interval to change"
  strUsersAdministration_rgpHIDE_DISABLE_MENU , "Unauthorized Item"
  strUsersAdministration_sbNewProfile , "New Profile"
  strUsersAdministration_sbNewProfileHint , "Create a new profile"
  strUsersAdministration_sbProfileAccess , "Permissions"
  strUsersAdministration_sbProfileAccessHint , "Show the selected profile's permissions"
  strUsersAdministration_sbChangeProfileData , "Change Data"
  strUsersAdministration_sbChangeProfileDataHint , "Change the selected profile's data"
  strUsersAdministration_sbDeleteProfile , "Delete Profile"
  strUsersAdministration_sbDeleteProfileHint , "Delete the selected profile"
  strUsersAdministration_tsPrograms , "Permissions"
  strUsersAdministration_tsUsersProgs , "Users"
  strUsersAdministration_DBGridUsersProgsColUSER_NAME , "User"
  strUsersAdministration_DBGridUsersProgsColPROFILE , "Profile"
  strUsersAdministration_tsProfilesProgs , "User Profiles"
  strUsersAdministration_DBGridProfilesProgsColPROF_DESCRIPTION , "Profile"
  strUsersAdministration_sbApply , "Apply"
  strUsersAdministration_sbApplyHintUser , "Apply the changes of permissions for the user"
  strUsersAdministration_sbApplyHintProfile , "Apply the changes of permissions for the profile"
  strUsersAdministration_sbRestore , "Restore"
  strUsersAdministration_sbRestoreHintUser , "Restore the changes of permissions for the user"
  strUsersAdministration_sbRestoreHintProfile , "Restore the changes of permissions for the profile"
  strUsersAdministration_sbRestoreProfile , "Restore From Profile"
  strUsersAdministration_sbRestoreProfileHint , "Restore the changes of permissions for the user from its profile"
  strUsersAdministration_sbUpdateUsers , "Update Users"
  strUsersAdministration_sbUpdateUsersHint , "Update the permissions of all users with this profile"
  strUsersAdministration_PanelAboveProgs1 , "Permissions for the user %s"
  strUsersAdministration_PanelAboveProgs2 , "Permissions for the profile %s"
  strUserAdministrationMsgChangeUserPwd , "Type the new user's password:"
  strLoginMainForm , "Access to the system"
  strLogin_lblUserName , "Enter your user &name:"
  strLogin_lblPassword , "Enter your &password"
  strLogin_OKBtn , "Ok"
  strLogin_CancelBtn , "Cancel"
  strChangePwdMainForm , "Changing Password"
  strChangePwd_lblOldPassword , "Enter your old &password:"
  strChangePwd_lblNewPassword , "Enter your &new password"
  strChangePwd_lblPasswordAgain , "Enter your new password &again"
  strChangePwd_OKBtn , "Ok"
  strChangePwd_CancelBtn , "Cancel"
  strNoProfile , "No Profile"
  strUserIsInactive , "User %s is not authorized to use this application, please contact the administrator"
  strPasswordExpired , "Your password has expired. Please, change your password now."
  strTryChangePasswordAgain , "For continue using this system, you must change your passwrd. Do you want to try again?"
  strPasswordUsedBefore , "Password was used before. Choose another password."
  strNewProfileMainForm , "New Profile"
  strNewProfile_lblPROF_DESCRIPTION , "Description"
  strNewProfile_lblINTERVAL_CHANGE_PWD , "Interval to change"
  strNewProfile_OKBtn , "Ok"
  strNewProfile_CancelBtn , "Cancel"
  strNewProfile_cbxMUST_CHANGE_PWD , "Must change password"
  strNewProfile_rgpHIDE_DISABLE_MENU , "Unauthorized Item"
  strNewProfile_rgpHIDE_MENU , "Invisible"
  strNewProfile_rgpDISABLE_MENU , "Disabled"
  strYes , "Yes"
  strNo , "Not"
  strINTERVAL_CHANGE_PWD_DisplayFormat , "each 00 days"
  strcbxAUDIT_MODE , "Audit Mode"
  strUsersAdministration_tsAudit , "Audit"
  strUsersAdministration_tsAudUsers , "Users"
  strUsersAdministration_tsAudProgs , "Programs"
  strUsersAdministration_lblUser                    , "User"
  strUsersAdministration_lblProgram                    , "Program"
  strUsersAdministration_gbxPeriodActivities , "Period of Activities"
  strUsersAdministration_lblFrom                    , "From"
  strUsersAdministration_lblTo , "    To"
  strUsersAdministration_DBGridAudUsersColMENU_CAPTION , "Program"
  strUsersAdministration_DBGridAudUsersColCOMPUTER_NAME , "Computer"
  strUsersAdministration_DBGridAudUsersColSTART_SESSION , "Start"
  strUsersAdministration_DBGridAudUsersColEND_SESSION , "End"
  strUsersAdministration_DBGridAudProgsColUSERCS_NAME , "User"
  strConfirmDeleteAudit , "Delete audit information from %s on the selected period"
  strstrDelete , "Delete"

}
